body { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    height: 110vh;
    width: 0 auto;
    
}

.bg {
    /* The image used */
    background-image: url("bg.png");
  
    /* Full height */
    /* height: 100%;  */
  
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: repeat;
    background-size: cover; */
}


hr {
    width: 0 auto;
}

#opponentChoice {
    width: 240px;
    height: 240px;
    /* background-color: blue; */
    margin-top: 10px;
    border: 1px solid black;
    
}

#yourChoice {
    width: 240px;
    height: 240px;
    /* background-color: red; */
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

#choices {
    width: 240px;
    height: 80px;
    /* background-color: green; */
    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 80px;
    height: 80px;
    
}
.choices-shadow {
	box-shadow: 6px 6px 0 0 #C6C6C6, 5px 5px 0 0 #C6C6C6, 4px 4px 0 0 #C6C6C6, 3px 3px 0 0 #C6C6C6, 2px 2px 0 0 #C6C6C6, 1px 1px 0 0 #C6C6C6;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* .yours {
    width: 300px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(216, 8, 36);

} */

/* .opponent {
    width: 300px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(74, 23, 194);

} */
